@font-face {
font-family: neonPixel;
src: url(Montserrat-Bold.otf);
}

@font-face {
    font-family: neonPixel2;
    src: url(Montserrat-Medium.otf);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    vertical-align: middle;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 20px;
    vertical-align: middle;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 50%;
}



body{

    background-image: url(completecontrol.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: white;
    font-family: neonPixel;
    font-size: 80px;
    letter-spacing: 3px;
}

h6 {
    text-align: center;
    color: white;
    font-family: neonPixel2;
    font-size: 20px;
    letter-spacing: 3px;
}

h5 {
    text-align: center;
    color: black;
    font-family: neonPixel2;
    font-size: 13px;
    letter-spacing: 3px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}



.textcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.padding{
    margin: 20px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-image: url(lightbg.png); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 10px 0px 400px -60px white;
}

/* The navigation menu links */
.sidenav a {
    font-family: neonPixel;
    padding: 6px 8px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    font-family: neonPixel;
    color: dimgray;
}

.menu{
    cursor:pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}